@import '../../app.scss';

.services{
    background: linear-gradient(180deg , #0c0c1d , #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        hr{
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;
            

            @include mobile{
                display: none;
            }
        }

        p{
            font-weight: 200;
            font-size: 20px;
            text-align: right;
            color:gray;

            @include mobile{
                padding: 20px;
            }
        }
    }

    .titleContainer{
        flex:2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            display: flex;
            align-items: center;
            gap:30px;

            @include mobile{
                flex-direction: column;
                text-align: center;
                gap: 20px;
            }
            
            img{
                width: 200px;
                height: 70px;
                object-fit: cover;
                border-radius: 50px;
            }

            h1{
                font-size: 70px;
                font-weight: 100;

                @include mobile{
                    font-size: 50px;
                }
            }

            button{
                width: 200px;
                height: 70px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 24px;
                cursor: pointer;

                @include mobile{
                    width: 120px;
                    height: 50px;
                    font-size: 15px;
                }
            }
        }
    }

    .listContainer{
        width: 80%;
        display: flex;
        justify-content: center;
        margin: auto;

        @include mobile{
            flex-direction: column;
        }

        .box{
            display: flex;
            flex-direction: column;
            padding: 30px;
            border: 0.5px solid gray;
            margin-bottom: 10px;
            gap: 30px;

            @include mobile{
                gap: 10px;
                border: none;
                align-items: center;
                padding: 10px;
            }

            p{
                @include mobile{
                    display: none;
                }
            }

            button{
                background-color: orange;
                padding: 10px;
                cursor: pointer;
                border: none;

                @include mobile{
                    background-color: transparent;
                    color: orange;
                    border: 1px solid orange;
                    width: 200px;
                }
            }
        }

    }
}